body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
    background-image: url('campo.png');
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center center;
     background-attachment: fixed;
    
}



#containerCadastro{
    background-color: #fff;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
            width: 400px;
            max-width: 90%;

}

input{
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 3px;
    border: 1px solid #116415;
    border-radius: 6px;
    font-size: 16px;
    transition: rgb(8, 107, 38) 0.3s ease;
    width: 80%;
}

button {
    background-color:#116415;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover{
    background-color:#007bff;
}