body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; 
        margin: 0; 
        background-image: url('campo.png');
        background-repeat: no-repeat;
        background-size: cover;
         background-position: center center;
         background-attachment: fixed;
}

.divUm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
  background-image: url('fundo.png');
  border: 1px solid rgb(18, 71, 42);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li{
    padding: 10px;
    list-style: none;
}

.listaUm{
    display: flex;
    flex-direction: row;
    margin-right: 35px;
   
}


.slogan{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #0a5300;
}

h1 {
font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 15px 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.listaUm button {
    background-color: #327535; 
    color: white;
    padding: 10px 15px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: #153e17 0.3s ease;
}

.listaUm button:hover {
    background-color: #367c39; /* Cor de fundo mais escura ao passar o mouse */
}